<% partial_path = 'notifier/event_updated/item' %>
<p>
  <dl>
    <%# If changed, must also reflect changes in tracked fields in mailer %>
    <% @tracked_changes_definitions.each do |field_text, field_name, field_value| %>
      <%= render partial: 'notifier/event_updated/item',
                 locals: { field_text: field_text,
                           field_name: field_name,
                           field_value: field_value,
                           changes: @changes.fetch(field_name, ''
      ) } %>
    <% end %>
  </dl>
</p>