<dt><%= field_text %></dt>
<% if changes.present? %>
  <% before, after = changes %>
  <dd>
    <div class='col-md-6'>
      <i>Was</i>
      <%= simple_format(before.to_s) %>
    </div>
    <div class='col-md-6'>
      <i>Now</i><br>
      <%= simple_format(after.to_s) %>
    </div>
    <div class='clearfix'></div>
<% else %>
  <dd><%= field_value %></dd>
<% end %>
