<!-- Button trigger modal -->
<div data-toggle="tooltip" data-placement="top" title="Add/Remove tag subscriptions">
  <%= link_to "Manage Tag Subscriptions", show_manage_tag_subs_modal_path,
      class: 'btn btn-primary', remote: true %>
</div>