<div class="landing-photo">
	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		function set_responsive_background_height() {
			$('.landing-photo').css('height', $('.landing-photo').width() * 0.667);
		}
		set_responsive_background_height();

		$( window ).resize(function() {
			set_responsive_background_height();
		});
	});
</script>