<tr>
  <th class="text-primary col-md-5">Location Type</th>
  <th class="text-primary col-md-5">Description</th>
  <th class="text-primary col-md-2">&nbsp;</th>
</tr>

<% @location_types.each do |location_type| %>
  <tr>
    <td><%= location_type.category %></td>
    <td><%= image_tag(location_type.avatar.url(:thumb)) if location_type.avatar? %></td>
    <td>
    	<%= link_to 'Edit', edit_location_type_path(location_type) %>
    	<%= link_to 'Delete', location_type_path(location_type), method: :delete,
    	            data: {erasable: !(Location.where(location_type_id: location_type.id).present?) } %>
	  </td>
  </tr>
<% end %>
