<div class="container">
	<h2>Edit Session Type</h2>

	<div class="small-bottom">
		<%= link_to '+ Add New', new_session_type_path, class: "btn btn-primary" %>
		<a href="#" class="pull-right" data-toggle="modal" data-target="#session_type_modal">Advanced Search</a>
	</div>
	<div class="row">
		<table id='session-type-table' class="table table-striped">
			<%= render partial: 'session_types/index/table' %>
		</table>
	</div>


	<%= render partial: 'session_types/index/modal' %>
</div>

<!-- Start: Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body">
        Oops, it looks like you have Session/s using this Session Type.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- End: Confirm Modal -->

<script type="text/javascript">
	$(document).ready(function(){
		var selected;

		$("a[data-erasable='false']").on('click', function(e){
			e.preventDefault();
			$(this).removeAttr("data-method");
			$('#confirmModal .modal-body').text('Oops, it looks like you have Session/s using this Session Type.');
			$('#confirmModal button.btn-default').text('Delete');
			$('#confirmModal').modal('show');
			selected = $(this).attr('href');
		});

		$("a[data-erasable='true']").on('click', function(e){
			e.preventDefault();
			$(this).removeAttr("data-method");
			$('#confirmModal .modal-body').text('Are you sure?');
			$('#confirmModal button.btn-default').text('OK');
			$('#confirmModal').modal('show');
			selected = $(this).attr('href');
		});

		$('#confirmModal button.btn-default').on('click', function(){
			$.ajax({
			  method: "DELETE",
			  url: selected
			});
		});
	});

</script>

<!-- #image_tag(session_type.avatar.url(:thumb)) if session_type.avatar? -->