<p>Hello <%= @user.name %>,</p>

<p>Here are the notes you requested from Conferina.</p>
<hr>
<p>Notes for <%= "#{@note.readable_notable_type}: #{@notable.name}" %></p>

<%= simple_format(@note.content) %>