<tr>
  <th class="text-primary col-md-5">Session Type</th>
  <th class="text-primary col-md-5">Description</th>
  <th class="text-primary col-md-2">&nbsp;</th>
</tr>

<% @session_types.each do |session_type| %>
  <tr>
    <td><%= session_type.category %></td>
    <td><%= session_type.description %></td>
    <td>
    	<%= link_to 'Edit', edit_session_type_path(session_type) %>
    	<%= link_to 'Delete', session_type_path(session_type), method: :delete, data: {erasable: !(Session.where(session_type_id: session_type.id).present?) } %>
  	  </td>
  </tr>
<% end %>
