<h2>Event Groups</h2>

<div class="small-bottom">
	<%= link_to '+ Add New Event', new_event_path, class: "btn btn-primary" %>
</div>
<div class="row"> 
	<table class="table table-striped">
	  <tr>
	    <th class="text-primary col-md-3">Event Name</th>
	    <th class="text-primary col-md-4">Description</th>
	    <th class="text-primary col-md-1">Start Date</th>
	    <th class="text-primary col-md-1">End Date</th>
	    <th class="text-primary col-md-3">Actions</th>
	  </tr>
	 
	</table>
</div>
