<div class="container">
	<h2>Events</h2>

	<div class="small-bottom">
		<%= link_to '+ Add New Event', new_event_path, class: "btn btn-primary" %>
		<%= link_to 'Advanced Search', '#', class: "pull-right", 'data-toggle': "modal", 'data-target': "#events_modal" %>
	</div>
	<div class="row">
		<table id='events-table' class="table table-striped">
			<%= render partial: 'events/index/table' %>
		</table>
	</div>
</div>

<% if not @events.nil? %>
	<%= render partial: 'events/index/modal' %>
<% end %>


<script type="text/javascript">
	$(document).ready(function() {
		$('#event_start_date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
		$('#event_end_date').datepicker({
			dateFormat: 'yy-mm-dd'
		});

		$("#event_tags").select2();
	});
</script>


