<div class="container">
	<h2>Venue Maps</h2>

	<div class="small-bottom">
		<%= link_to '+ Add New Venue', new_venue_path, class: "btn btn-primary" %>
		<a href="#" class="pull-right" data-toggle="modal" data-target="#venue_modal">Advanced Search</a>
	</div>

	<% if @venues.present? %>
	<div class="row">
		<table id='venues-table' class="table table-striped">
			<%= render partial: 'venues/index/table' %>
		</table>
	</div>
	<% end %>
</div>

<%= render partial: 'venues/index/modal' %>