<div class="container">
	<h2>Tags</h2>

	<div class="small-bottom">
		<%= link_to '+ Add New', new_tag_path, class: "btn btn-primary" %>
		<a href="#" class="pull-right" data-toggle="modal" data-target="#tag_modal">Advanced Search</a>
	</div>
	<div class="row">
		<table id='tags-table' class="table table-striped">
			<%= render partial: 'tags/index/table' %>
		</table>
	</div>

	<%= render partial: 'tags/index/modal' %>
</div>