<%- model_class = Feedback -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= render partial 'feedbacks/feedback' %>

<%= link_to "Back",
              feedbacks_path, :class => 'btn btn-default'  %>
<%= link_to 'Delete',
              feedback_path(@feedback),
              :method => 'delete',
              :data => { :confirm => 'Are you Sure?' },
              :class => 'btn btn-danger' %>
