<div class="container">

	<h2>Edit Category Type</h2>

	<div class="small-bottom">
		<%= link_to '+ Add New', new_category_type_path, class: "btn btn-primary" %>
		<a href="#" class="pull-right" data-toggle="modal" data-target="#category_type_modal">Advanced Search</a>
	</div>
	<div class="row">
		<table id='category-type-table' class="table table-striped">
			<%= render partial: 'category_types/index/table' %>
		</table>
	</div>
	<%= render partial: 'category_types/index/modal' %>
</div>