// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

//Variables
$small-bottom: 20px;


body {
  background-color: #eee;
}


// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
.container {
  margin-top: 99px;
  padding-top: 20px;
}

main {
  // @extend .container;
  // // background-color: #eee;
  // padding-bottom: 80px;
  width: 100%;
  position: relative;
  // margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}

.alert {
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 100px;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.small-bottom {
  margin-bottom: $small-bottom;
}

main table td {
  img {
    float: left;
  }

  a {
    padding: 0px 10px;
  }
}

header {
  nav {
    .navbar-nav {
      float: right;
    }
  }
}

.navbar {
  margin-bottom: 0px;
}

nav .container {
  margin-top: 0px;
  padding-top: 0px;
}

header { 
  .navbar-inverse {
    background-color: white;
    border-color: #ddd;
    .navbar-nav > li > a {
      color: black;

      &:hover {
        color: #777;

        border-bottom: 3px solid #0000cc;
      }

      &:active {
        color: #777;
      }

      &:focus {
        color: #777;
      }

      &:active {
        color: #aa0099; 
      }

    }
  }

  .navbar {
    min-height: 100px;

    ul {
      padding-top: 23px;
    }
  }

  .navbar-header a {
    padding-top: 10px;
  }
}

#custom-search-input {
  min-height: 40px;
  .input-group {
    width: 100%;
  }
}

.landing-photo {
  margin-top: 99px;
}



.asteroid {
  color: red;
}

.map_canvas { 
  width: 960px; 
  height: 400px; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.country-select {width: 100%;}

#social label {
  span {
    float: left;
  }

  img {
    margin: 0;
    float: right;
  }
}

.landing-photo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: image-url("landing");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

ul.events-grid {
  display: none;
  padding: 0;
  li {
    width: 32%;
    height: 18vw;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid gray;

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;

      p.title {
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding-left: 15px;
      }

      p.event-date {
        color: rgb(230, 230, 230);
        padding-left: 15px;
      }
    }
  }
}

ul.events-grid.active {
  display: block;
}

#event_search_form {
  display: inline-block;
  width: 80%;
}

.view-choice {
  .btn.active {
    outline: initial;
  }

  .btn-group {
    float: right;
  }
}

table.events-list {
  display: none;
}

table.events-list.active {
  display: inline-table;
}

.truncate {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-list.table-striped tr.list-selectable {
  cursor: pointer;
  &:hover {
    background-color: rgba(30, 240, 10, 0.3);
  }
}

td > p {
  margin-bottom: 0px;
}

#eventModal .modal-body {
  span {
    font-size: 16px;
    font-weight: 500;
  }

  ul {
    list-style: none;
    margin-bottom: 20px;
    display: inline-block;

    a { color: green; }

    li {
      float: left;
      margin-right: 20px;
      color: green;
      cursor: pointer;
    }
  }

  // a {
  //   display: inline-block;
  //   margin-right: 20px;
  // }
}

@media screen and (max-width: 991px) {
  main {
    padding-top: 50px;
  }

  .alert {
    top: 50px;
  }

  .container {
    margin-top: 0px;
  }

}

@media screen and (max-width: 768px) {
  header {
    nav {
      .navbar-nav {
        float: none;
      }
    } 
  }
  
}

@media screen and (max-width: 414px) {
  main {
    padding-top: 50px;
  }

  .view-choice {
    .btn-group {
      float: left;
    }
  }

  .container {
    margin-top: 0px;
  }

  .alert {
    top: 50px;
  }

  .landing-photo {
    margin-top: 50px;
  }

  header {
    .navbar {
      min-height: 50px;
    } 

    .navbar-header {
      a {
        padding-top: 0px;
      }
    }
  }
  .navbar-brand > img {
    width: 48px;
    height: 48px;
  }

}
