$white: #f5f5f4;
$lipstick: #e42131;
$gray: #bdbdbd;
$darken-light-gray: #777777;
$deep-lavender: #736abe;
$blueberry: #5b51ae;
$deep-gray: #6a5f65;
$greeny: #41c39f;
$dark-footerbackground: #19161a;
$stars: #ffd615;

.deep-lavender {
	color: $deep-lavender;
}

.blueberry {
	color: $blueberry;
}