// .sublist-open {
// 	position: static;
//     float: none;
//     width: auto;
//     margin-top: 0;
//     background-color: transparent;
//     border: 0;
//     box-shadow: none;
//     border-top-right-radius: 0;
//     border-top-left-radius: 0;
//     display: block;
// }


// @media(max-width:994px){
// 	.navbar-header {
// 		float: none;
// 	}
// }

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-brand > img {
        width: 48px;
        height: 48px;
    }

    header .navbar {
        min-height: 50px;
    }

    .navbar > .container .navbar-brand {
        padding-top: 1px;
    }


    header .navbar ul {
        padding-top: 0;
    }

    .collapse.navbar-collapse li.dropdown a.dropdown-toggle {
        background-color: #000;
        color: #fff;
    }
}