<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @page_content.content %>
</p>

<%= link_to 'Edit', edit_page_content_path(@page_content) %> |
<%= link_to 'Back', page_contents_path %>
