<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <div class='clearfix'></div>
  <%= @page_content.content.html_safe %>
  <div class='clearfix'></div>
</p>

<%= link_to 'Edit', edit_page_content_path(@page_content) %> |
<%= link_to 'Back', page_contents_path %>
