<%# add navigation links to this file %>
<li><%= link_to 'Products', page_path('product') %></li>
<li><%= link_to 'About Us', page_path('about') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
