<%# add navigation links to this file %>
<% if not user_signed_in? || current_user.try(:user?) %>
<li>
	<div id="custom-search-input">
        <div class="input-group">
            <input type="text" class="search-query form-control" placeholder="Search for events by name or location" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</li>
<li><%= link_to 'Events', search_path %></li>
<% end %>
<li><%= link_to 'About Us', page_path('about') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
